<app-header [menu]="menu"></app-header>

<mat-drawer-container class="drawer-container">
  <mat-drawer #menu mode="side" class="app-sidenav">
        <mat-list>
          <mat-list-item>
            <a routerLink="/">History</a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/launches">Launches</a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/rockets">Rockets</a>
          </mat-list-item>
          <mat-list-item>
            <a routerLink="/about">About</a>
          </mat-list-item>
        </mat-list>
      </mat-drawer>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

