<div *ngIf="loading" class="loadingSpinner">
    <mat-spinner></mat-spinner>
    <span>Loading...</span>
</div>
  
<div *ngIf="error">
<p class="errorMessage">Something went wrong...</p>
</div>

<div *ngIf="showMe" class="mainPage">
    <span class="pageTitle">{{ title }}</span>
    <mat-grid-list cols="2" rowHeight="400px" gutterSize="20px">
        <mat-grid-tile *ngFor="let rocket of rockets">
            <mat-card class="rocketCard"fxFlexFill fxFlex="0 1 calc(20% - 20px)" >
                <mat-card-header>
                <mat-card-title>{{ rocket.name }}</mat-card-title>
                </mat-card-header>
                <br>
                <div *ngIf="rocket.flickr_images[0]">
                    <img mat-card-image class="cardImage" [src]="rocket.flickr_images[0]" alt="{{ rocket.name }}">
                </div>
                <mat-card-content>
                <p>{{ rocket.details }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="buttonDetails" color="accent" mat-raised-button [routerLink]="['/rockets', rocket.id]">ROCKET DETAILS</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
